@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
*{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}
@media(max-width:480px){
  html{
      font-size: 55%;
  }
  .imagen{
    margin: 0%;
    padding: 0%;
    flex-direction:column;
  
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
}

.navbar{  
    position: fixed;  
    top: 0%;
    left: 0%;
    width: 100%;
    background-image: linear-gradient(90deg,blue, white);
    box-shadow: 0 .5rem 1rem rgba(0,0, 0, .2);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.logo{
    font-size: 2.5rem;
    color: #fff;
   
}
.logo:hover{
  text-decoration: none;
    color: blue;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;      
      transition: .5s;
      
}
.menubar{
    color: blue;
    font-size: 2rem;
    padding: 5px 5px;
}
.menubar:hover{
  text-decoration: none;
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;      
      transition: .5s;
  }

.container{
  padding-top: 8%;
  width: 100%;
  height: 100vh;
}
h3{
  background-image: linear-gradient(90deg,blue, white);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  justify-content: center;  
  display: flex;  
  padding: 1%;
  width: 50%;
  font-size: 18px;
  color: #fff;
  text-shadow:
  0 0 1px #fff,
  0 0 5px #fff,
  0 0 10px #fff,
  0 0 30px #0ff,
  0 0 70px #0ff,
  0 0 75px #0ff,
  0 0 90px #0ff,
  0 0 125px #0ff;
}
h3:hover{
  background: blue;
  color: #fff;
  text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;      
      transition: .5s;
}

.qrcode{
    display: none;
    justify-content: center;
    width: 50%;
    height: 300px;
    border: 2px solid black;
    border-radius: 8%;
    padding: 15px;
    margin: 35px;
    
  }


h4{
  background-image: linear-gradient(90deg,blue, white);
  border-radius: 10px;
  justify-content: center;
  display: flex;
  font-size: 2rem;
  color: #fff;
  text-shadow:
  0 0 1px #fff,
  0 0 5px #fff,
  0 0 10px #fff,
  0 0 30px #0ff,
  0 0 70px #0ff,
  0 0 75px #0ff,
  0 0 90px #0ff,
  0 0 125px #0ff;
}
.getcode{
    color: blue;
    font-size: 1rem;
    padding: 5px 5px;
    width: 150px;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0 .5rem 1rem rgba(0,0, 0, .1);
    border: 1px solid black;
}
.getcode:hover{
  color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;
      transition: .5s;
      background-image: linear-gradient(90deg,blue, white);
}

.imagen{
  flex-direction:column;
  background-image: url('descarga.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -10;
  width: 80%;
  height: 70%;
  padding-left: 3px;
}
.pageone{
  display: flex;
}
.qr{ 
  display: block;
  padding-left: 10%;
  padding-top: 1%;  
  margin: 1%;
  border: 2px solid black;
  justify-content: center;  
  width: 60%;
  height: 60vh;
  border-radius: 15px;
  box-shadow: 0 .5rem 1rem rgba(0,0, 0, .2);
}

.tripleft{
  display: block;
  padding-left: 10%;
  padding-top: 1%;  
  margin: 1%;
  border: 2px solid black;
  justify-content: center;  
  width: 40%;
  height: 60vh;
  border-radius: 15px;
  background-image: url('road.png');
  background-size:150%;
  background-repeat: no-repeat;
  box-shadow: 0 .5rem 1rem rgba(0,0, 0, .2);
  }
  .baseone{
    display: flex;
    justify-content:center;
    width: 100%;
    padding: 2%;
  }
  .btn{
    display: flex;
    justify-content: center;
    margin: 1%;
    width: 100px;
    border: 1px solid black;
    border-radius: 15px;
    color: blue;
    font-size: 1rem;
    padding: 5px 5px;   
    cursor: pointer;  
  }
  .btn:hover{
    background: blue;
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;      
      transition: .5s;
  } 
  #numbers{
    font-size: 60px;
    font-weight: bolder;
    padding-top: 20%;
  }
  .pagetwo{
    padding-top: 8%;
    display: flex;
    flex-direction:column;
    padding-left: 30%;
    width: 100%;
    height: 100vh;
    justify-content: center;
  }
  .buytrip{
    background-image: url('felicidad.png');
    background-size: cover;
    flex-direction: row;
    width: 50%;
    height: 450px;
    border: 1px solid black;
    border-radius: 15px;
    justify-content: center;
    padding: 2%;
    box-shadow: 0 .5rem 1rem rgba(0,0, 0, .2);
  }
  
  .tripbuy{
    width: 30%;
    height: 30px;
    padding-left: 3%;
    margin-bottom: 3%;
    border: 1px solid blue;
    border-radius: 10px;
  }
.price{
  font-size: 30px;
  font-weight: bold;
  padding-left: 8%;
}