<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Bondi-Mat</title>
    <link rel="stylesheet" href="style.css">  
    <script src="main.js"> </script>
    <script src="qrcode.min.js"></script>  
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="qrcode.js"></script>
  
</head>
<body>
<header href="#" class="logo">
    <a href="#" class="logo"><span class="">Bondi</span>-Mat</a>
    <nav class="navbar">
        <a class="menubar" href="">Home</a>
        <a class="menubar" onclick="getTrip()">Get Trip</a>
        <a class="menubar" href="">Scan</a>
    </nav>
</header>
<div class="container" id="container">

<div class="option" id="option">

  <h3 class="logo">Code</h3><br>
  <img src="qr logo.png" onclick="ocultar()">
</div>

<div class="option" id="option">
  <h3 class="logo">Bus</h3>
  <img src="bus.png" onclick="ocultar()">
</div>

<div class="option" id="option">
  <h3 class="logo">Train</h3>
  <img src="train.png" onclick="ocultar()">
</div><br>
<div class="option" id="option">
  <h3 class="logo">Subway</h3>
  <img src="subway.png" onclick="ocultar()">
</div>

<div class="option" id="option1">
  <h3 class="logo">Bus</h3>
  <img src="bus.png" onclick="ocultar()">
</div>

<div class="option" id="option2">
  <h3 class="logo">Train</h3>
  <img src="train.png" onclick="ocultar()">
</div>
<div class="option" id="option">
  <h3 class="logo">Subway</h3>
  <img src="subway.png" onclick="ocultar()">
</div>
<div class="option" id="option">
  <h3 class="logo">Subway</h3>
  <img src="subway.png" onclick="ocultar()">
</div>
</div>
<div class="container2" id="container2">
  <div class="option">
    <h4>Enter the code</h4><br>
  <input type="text" id="qr-data" ><br>
  <button type="button" class="getcode" onclick="generateQR()">Get you QR Code</button><br><br>
  <div id="qrcode"></div>
  </div>
<script src="qrcode.min.js"></script>
<script>
  let qrdata = document.getElementById('qr-data')
  let qrcode = new QRCode(document.getElementById('qrcode'))
  function generateQR(){
      let data = qrdata.value
      qrcode.makeCode(data);
  }
  </script>
  </div>
  <div class="trip-class" id="trip-class">
    <div class="trip-box">
      <h3>Get you trip</h3>      
      <img src="road.png" class="img-road">      
      <p class="p-road">Enjoy all the benefits that we have for you due convenant with top companies, with <strong>great discounts</strong> for pay before hand with our app</strong>
      Enter in a new experience of managing your money, enter to the <strong>Bondi-Mat</strong> World </p>
      <br><br>      
      <button class="getcode" onclick="oneMonth()">One Month</button><br><br><button class="getcode" onclick="oneDay()">One Day</button>
    </div>
  </div>
  <div class="chooseB">
  <div id="chooseB">
    <h3>Welcome to a new experience</h3><br>
    <img src="felicidad.jpg" class="happy">
    <p class="happyD" id="oneMonth">Thanks for Choosing the One Month Trip, please enter the code and get the QR Code to the <strong>Greatest benefits</strong> for use our app!!</p>
    <p class="happyD" id="oneDay">Thanks for Choosing the One Day Trip, please enter the code and get the QR Code,<strong>Thanks for use our app!!</strong></p>
    <br>
    <button type="button" class="getcode" onclick="generateQR()">Get Code</button>
  </div></div>
</body>
</html>