<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    
    <title>Mega Business</title>

</head>

<body>
            
        <div class="main-box">
            
        
        <div class="inversion">
            <img src="../bitcoin.png" id="moneda" class="moneda" >
            <img src="../Dolar-coin.png" class="dolar" id="inversion">
            <div><p class="p" id="choice">Drag the bitcoin over the dolar</p></div><br>
            <div class ="popup" id="choice4" onclick=""></div><br>
            <div class ="popup" id="choice1" onclick=""></div>
            <br><br>
            <div class ="popup" id="choice2" onclick=""></div>
            <br><br>
            <div class ="popup" id="choice3" onclick=""></div>
            <div class ="popup" id="choice4" onclick=""></div><br>
            <div class ="popup" id="choice5" onclick="">
                
                </form>
            </div> 
            
            
            
            </div>
            
        </div>
        

    </div>
    
    
    

    <script src="mega.js"></script>    
</body>
</html>